@font-face {
  font-family: "Varsity regular";
  src: url("./assets/fonts/varsity_regular.ttf");
}

body {
  background: url(assets/Images/office_dark.png) no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
}

h3,
h2,
h4 {
  color: white;
  text-align: center;
}

.headerMargin {
  margin-top: 10px;
}

.but-gold {
  background-color: #d2c585;
  text-align: center;
  border-radius: 50px;
  color: white;
  border: 0px;
}

.toDo {
  color: rgb(155, 107, 4);
}

.expired {
  color: rgb(170, 4, 4);
}

.completed {
  color: rgb(29, 138, 2);
}

.archive {
  color: #d2c585;
}

.login-but,
.logout-but {
  padding: 5px 20px;
}

.logo {
  height: 70px;
  margin-top: -10px;
}

.bold {
  font-weight: bold;
}
.underlined {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}
.but-gold-a {
  text-decoration: none;
}

.but-gold-a:hover {
  color: black;
  cursor: pointer;
}

.back-btn {
  margin: 10px;
  padding: 10px;
}
