<header class="row headerMargin">
  <div class="col-md-2" style="display: inline-block; vertical-align: middle">
    <div style="display: flex; justify-content: center">
      <a routerLink="/home">
        <img class="logo" src="../../../assets//Images/logo_mini.svg" />
      </a>
    </div>
  </div>
  <div class="col-2 offset-2">
    <div *ngIf="!isOnProfilePage()">
      <h3 class="halfColor"><a routerLink="/profile">Profile</a></h3>
    </div>
    <div *ngIf="isOnProfilePage()">
      <h3>Profile</h3>
      <hr size="6" />
    </div>
  </div>

  <div class="col-2">
    <div *ngIf="!isOnWorkPage()">
      <h3 class="halfColor"><a routerLink="/work">Work</a></h3>
    </div>
    <div *ngIf="isOnWorkPage()">
      <h3>Work</h3>
      <hr size="6" />
    </div>
  </div>
  <div class="col-md-1 offset-md-3">
    <div *ngIf="this.storage.RequiresLogin">
      <button class="but-gold login-but" [routerLink]="['login']">Login</button>
    </div>
    <div *ngIf="!this.storage.RequiresLogin">
      <button class="but-gold logout-but" (click)="this.storage.logout()">
        Logout
      </button>
    </div>
  </div>
</header>
