h1 {
  text-align: center;
  color: white;
  font-family: "Berlin Sans FB";
  /* font-family: "Varsity regular"; */

  font-size: 2.5em;
}

.centered-box {
  padding: 30px;
  margin: 45px;
  margin-top: 30%;
  background-position: center;
  text-align: center center fixed;
  background-color: #92919171;
  border-radius: 10px;
}

.centered-box label {
  color: white;
  font-size: 0.9em;
  padding-left: 5px;
}

.centered-box input {
  margin-bottom: 5px;
}
.centered-box button {
  margin-bottom: 10px;
  margin-top: 20px;
}

.but-gold {
  opacity: 100%;

  width: auto;
}

.form-control:focus,
.form-check-input:focus {
  border-color: #d2c585;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d2c585;
}

.form-check-input:checked {
  background-color: #d2c585;
}

.centered-box a {
  color: white;
  opacity: 80%;
}

.halfColor {
  opacity: 100%;
}
p {
  text-align: center;
}

.login-error {
  background-color: rgba(255, 255, 255, 0);
  color: #d2c585;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  margin-top: -15px;
}
