<app-header></app-header>

<div class="mainBody">
  <div style="display: flex; justify-content: space-between">
    <h2>Your work</h2>
    <button
      *ngIf="storage.role === 'Programmer'"
      class="edit"
      (click)="ToggleArchived()"
    >
      Show Archived
    </button>
  </div>

  <div *ngIf="storage.role === 'Programmer'" class="allTasks row">
    <div *ngIf="tasks.length === 0" style="text-align: center">
      <h1>You have yet to been assigned any tasks!</h1>
    </div>
    <div *ngFor="let task of tasks" class="col-md-3">
      <div class="taskBox" *ngIf="task.state != 3 || showArchived">
        <h4>
          {{ task.name }}
          <!-- {{ errorMessage }} -->
        </h4>

        <p>
          Project:
          <a
            class="underlined"
            routerLink="project/{{ task.projectIncludedInId }}"
          >
            {{ task.projectIncludedInName }}
          </a>
        </p>
        <p>Deadline: {{ task.deadline | date: "dd/MM/yyyy" }}</p>
        <p>Description: {{ task.description }}</p>
        <div style="display: flex; justify-content: space-between">
          <div style="margin-left: 10px">
            <p class="stateP">
              <i class="{{ statesClasses[task.state] }}" aria-hidden="true">
              </i>
              {{ states[task.state] }}
            </p>
          </div>

          <div
            style="
              /* display: inline-block;
              vertical-align: middle; */
              margin-right: 10px;
            "
          >
            <div *ngIf="task.state === 0">
              <button class="edit" (click)="markAsDone(task)">
                Mark as done
              </button>
            </div>
            <div *ngIf="task.state === 1 || task.state === 2">
              <button class="edit" (click)="archiveTask(task)">Archive</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="storage.role === 'Manager'" class="allTasks row">
    <div *ngFor="let proj of projects" class="col-md-3">
      <div class="taskBox">
        <h4>{{ proj.name }}{{ errorMessage }}</h4>

        <p style="text-align: left">Tasks:</p>
        <div
          *ngFor="let task of proj.tasks"
          style="text-align: left; margin-left: 20px"
        >
          <p>
            <span style="display: flex; justify-content: space-between">
              <span>
                <i class="{{ statesClasses[task.state] }}"> </i>&nbsp;
                <a class="underlined link" (click)="showTask(task)">{{
                  task.name
                }}</a>
              </span>
              <!-- (click)="userInfo(task.responsibleUserName)" -->
              <a
                routerLink="user/{{ task.responsibleUserName }}"
                style="margin-right: 15px"
              >
                {{ task.responsibleUserName }}
              </a>
            </span>
          </p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
          "
        >
          <div style="margin-top: 5px">
            <p>Budget: {{ proj.budget | currency: "EUR" }}</p>
          </div>
          <div style="margin-right: 10px">
            <button class="edit" (click)="editProj(proj)">Edit project</button>
          </div>
        </div>
        <p></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="taskBox">
        <a class="plus-sign" (click)="addProj()">
          <i class="fa fa-plus addP" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
