/* .allTasks {
  margin-left: 50px;
  margin-right: 50px;
} */

.taskBox {
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: #929191bd;
  text-align: center;
  height: auto;
}

h1 {
  margin-top: 10%;
  color: white;
  font-family: "Berlin Sans FB";
}

h2 {
  font-family: "Berlin Sans FB";
}
.stateP {
  color: white;
  padding: 5px;
}

.mainBody {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.taskBox h4 {
  color: #d2c585;
}

.taskBox p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.taskBox a {
  color: rgb(226, 226, 226);
}

.edit {
  background-color: #d2c585;
  border: solid 1px rgb(121, 121, 121);
  text-align: center;
  font-size: 0.8em;
  border-radius: 10px;
  color: white;
  opacity: 100%;
  /* margin-top: 10px; */
  /* border: 0px; */
  padding: 5px 10px;
}

.addP {
  padding: 60px;
}
.plus-sign:hover {
  cursor: pointer;
}

.times-sign {
  color: black;
  padding: 30px;
}
